:root {
  --color-primary: #6b8e4e;
  --color-white: #ffffffff;
  --color-black: #120d26;
  --color-light-black: #120d2680;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none !important;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* utility class */
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outline-none {
  outline: none !important;
}

.border-none {
  border: none !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.card__container {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 14px;
}

/* main heading */
.main__heading {
  font-size: 1.75rem;
  font-weight: 600;
  color: #120d26;
  text-transform: capitalize;
}

/* heading */
.heading {
  font-weight: 600;
  font-size: 24px;
  color: #120d26;
  text-transform: capitalize;
}
/* sidebar row */

.sidebar__icon {
  font-size: 2rem;
  color: rgba(18, 13, 38, 0.5);
}

.sidebar__list__title {
  color: rgba(18, 13, 38, 0.5);
  font-weight: 500;
  font-size: 1.125rem;
}

.sidebar__list {
  padding: 16px 24px;
  width: 15.75rem;
}

.sidebar__container {
  width: 290px;
  background: var(--color-white);
  position: fixed;
  top: 0;
  height: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  border-right: 1px solid #120d261a;
}
.sidebar__container__responsive {
  width: 80px;
  background: var(--color-white);
  position: fixed;
  top: 0;
  height: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  border-right: 1px solid #120d261a;
}

/* Header */
.header__container {
  margin-left: 294px;
  background: var(--color-white);
  padding: 1.2rem;
}
.responsive__header__container {
  margin-left: 0;
  background: var(--color-white);
}

.dashboard__content {
  background: #f4f5f9;
  margin-left: 291px;
  min-height: 100vh;
}
.responsive__dashboard__content {
  background: #f4f5f9;
  margin-left: 80px;
  min-height: 100vh;
}

.header__wrapper {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header__search__container {
  padding: 2px 32px 2px 24px;
  background: #fafafa;
  border-radius: 16px;
  height: 60px;
}

.header__image {
  width: 3.75rem;
  height: 3.75rem;
}
.header__image > img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

/* Footer */
.footer__container {
  /* text-align: end; */
  padding: 10px 19rem;
}

.footer__title {
  color: rgba(18, 13, 38, 0.5);
  font-weight: 400;
  font-size: 16px;
}

.footer__title__brand {
  font-weight: 600;
  font-size: 16px;
  color: #120d26;
  cursor: pointer;
}

/* dashbaord */

.dashboard__card {
  padding: 0.9rem 0.3125rem;
}

.dashboard__card__title {
  font-weight: 400;
  font-size: 0.625rem;
  color: #120d26;
  text-transform: capitalize;
}

.dashboard__card__image {
  border-radius: 13px;
}
/* Instructor */

.instructor__container {
  overflow-y: auto;
  max-height: 432px;
}
.dashboard__instructor__image {
  border-radius: 30px;
  object-fit: cover;
  height: 2.75rem;
  width: 2.75rem;
  margin-right: 0.8rem;
}

.dashboard__instructor__title {
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--color-primary);
}
.dashboard__instructor__sub__title {
  font-weight: 400;
  font-size: 0.875rem;
  color: rgba(18, 13, 38, 0.5);
}

.dashboard__instructor__teacher {
  font-weight: 500;
  font-size: 1rem;
  color: #120d26;
}

.dashboard__topsales {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  padding: 20px 30px;
}

.dashboard__topsales__title {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}

.dashboard__topsales__subtitle {
  font-weight: 400;
  font-size: 12px;
  color: #999999;
}

/* course */
.course__search__container {
  background-color: #ffffff;
  padding: 2px 32px 2px 24px;
  border-radius: 4px;
}
.course__filter__container {
  background-color: #ffffff;
  padding: 2px 4px;
  border-radius: 4px;
}
.course__card__container {
  border-radius: 8px;
  background-color: var(--color-white);
}

.course__card__wrapper {
}

.course__card__descriptions__tag {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  background: #92c9fb;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 15px 9px 9px 19px;
}
.course__card__descriptions__title {
  font-weight: 500;
  font-size: 16px;
  color: #120d26;
  margin: 15px 9px 9px 19px;
}
.course__card__info__container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-right: none;
  padding: 10px 20px;
}

.course__card__info__title {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #0c1a30;
}

.course__card__info__count {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.7);
}

.course__card__info__price {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;

  color: #6b8e4e;
}
.course__card__bottom__container {
  margin: 15px 20px 9px 19px;
}
